<%- include('./partial/header.ejs'); %>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/err.css">
    <div class="container77">
        <p>Nothing found here</p>
    </div>
<%- include('./partial/footer.ejs') %> 