<%- include("../partial/header.ejs"); %>
    <p>welcome to about page</p>
    <h1 class="Display-4">Websites Development is a creative process and security features is a complex process</h1>
<%- include("../partial/footer.ejs"); %> 